/*
  *** TODO: fill in your header ***
  INSERT YOUR NAME HERE
  INSERT THE CURRENT DATE HERE
  INSERT YOUR SECTION/TA NAME

  WRITE A 2-3 SENTENCE FILE DESCRIPTION HERE
*/

/*
  Note: This body rule set is to get you started
*/
body {
  background-color: rosybrown;
  font-family: "Helvetica", sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}